* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input{
    font-family: 'IBM Plex Sans', sans-serif;
}

.CalendarWrapper {
    display: flex;
    flex-direction: row;
}
  
.sidebar {
    height: 100%;
}
  
.CalendarContainer {
    width: 100%;
}

.CalHeader {
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CalHeader div{
    margin: 0px 5px 0px 5px;
    font-weight: bold;
}

#week-nav, #date-range {
    background-color: unset;
    font-size: 16px;
    font-weight: bold;
}
#today-btn {
    margin-left: auto;
}

.WeekView {
    width: 100%;
    padding: 50px;
    padding-top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Days {
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: grid;
    grid-template: repeat(1, 1fr) / 50px repeat(7, 13%);
    grid-auto-flow: column;
    justify-content: center;
}
.Days .Day {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: grey;
}
.Day#today {
    color: black;
}
.DayNum {
    font-size: 28px;
    font-weight: bold;
}

.EventCard input, .EventCard button, .WeekView p, .EventCard p {
    font-size: 12px;
    margin-bottom: 0px;
}

.Cells {
    width: 100%;
    display: grid;
    grid-template: repeat(24, 50px) / max-content repeat(7, 13%);
    grid-auto-flow: column;
    justify-content: center;
}
.Cells .Time {
    border: none;
    margin: 0;

    height: 40px;
    border-left: hidden;
    align-items: end;
    text-align: right;
    padding-right: 10px;
}
.Cells .Hours {
    border: 1px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    margin-top: -1px;
    padding: 4px;
}

.Hours #event-name {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.Hours #time-slice {
    font-weight: bold;
    white-space: nowrap;
    overflow: clip;
    text-overflow: clip;
}
.Hours:hover {
    background-color: lightgrey;
}

.EventCard {
    width: 400px;
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);

    background-color: white;
    padding: 15px;
    
    z-index: 10;
}
.EventCard .CalBtn {
    margin-top: 10px;
    min-width: 50px;
}

#event-input {
    width: 100%;
    min-width: 0;
    font-size: 20px;
    appearance: none;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 11px;
}
#event-input::placeholder {
    font-size: 20px;
}
#event-input:focus {
    outline: none;
    border-bottom: 2px solid #0f52fe;
    margin-bottom: 10px;
}
#event-input:not(:focus):invalid {
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
#event-ops {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    float: right;
}
#time-picker {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
}
#time-picker p {
    min-width: 50px;
}

.Focus {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-color: black;
    opacity: 0.6;

    z-index: 5;
}

.CalBtn {
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;

    border: none;
    cursor: pointer;

    padding: 5px;
}
.CalBtn:hover {
    background-color: darkgray;
}
